<div class="bg-success rounded-4 p-3 text-center">
    <div class="text-white"><h1>Заказ успешно оформлен</h1></div>
    <a asp-controller="Home" class="btn btn-sm btn-primary">В главное меню</a>
</div>