<div class="pt-2 bg-secondary rounded-4">
    <nav class="nav flex-column">
        <p><a asp-area="" asp-controller="Account" asp-action="Index" class="nav-underline active link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page">Профиль</a></p>
        <p><a asp-area="" asp-controller="Account" asp-action="Orders" class="nav-underline active link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page">Мои заказы</a></p>
    </nav>
</div>