<div class="container overflow-hidden text-center">
    <div class="row">
        <div class="col-2 ps-0">
            <div>@await Html.PartialAsync("AdminMenu")</div>
        </div>
        <div class="col-10 p-0">
            <div class="text-white bg-secondary rounded-4"><h1>Добро пожаловать в меню администратора</h1></div>
        </div>
    </div>
</div>